# A simple action usage
name: Zeta ✦ kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Zeta ✦ Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://android.googlesource.com/kernel/common
          kernel-dir: common
          kernel-branch: android12-5.10
          config: gki_defconfig
          arch: arm64
          aosp-gcc: false
          aosp-clang: true
          aosp-clang-version: r416183b1
          ksu: true
          ksu-other: true
          ksu-url: https://github.com/KernelSU-Next/KernelSU-Next
          ksu-version: main
          android-version: 12
          disable-lto: true
          extra-cmd: |
            sed -i 's/CONFIG_PREEMPT_NONE=y/# CONFIG_PREEMPT_NONE is not set/' out/.config
            sed -i 's/CONFIG_PREEMPT_VOLUNTARY=y/# CONFIG_PREEMPT_VOLUNTARY is not set/' out/.config
            echo "CONFIG_PREEMPT=y" >> out/.config
            echo "CONFIG_PREEMPTION=y" >> out/.config
            echo "CONFIG_PREEMPT_COUNT=y" >> out/.config
            
            
            sed -i 's/CONFIG_LOCALVERSION=""/CONFIG_LOCALVERSION="-✦Zeta-Missionary-KSUN+"/' out/.config
            
            scripts/config --file out/.config --enable CONFIG_RCU_BOOST
            scripts/config --file out/.config --set-val CONFIG_RCU_BOOST_DELAY 500
            scripts/config --file out/.config --enable CONFIG_HZ_250
            scripts/config --file out/.config --enable CONFIG_TCP_CONG_BBR
            scripts/config --file out/.config --set-str CONFIG_DEFAULT_TCP_CONG "bbr"
            scripts/config --file out/.config --set-val CONFIG_PANIC_TIMEOUT 0
            
            # Ensure KernelSU-Next doesn't trip over missing symbols
            echo "CONFIG_KPROBES=y" >> out/.config
            echo "CONFIG_HAVE_KPROBES=y" >> out/.config
            echo "CONFIG_KPROBE_EVENTS=y" >> out/.config
          anykernel3: true
