# A simple action usage
name: Missionary-Zeta GKI
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Zeta ✦ Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://github.com/ramabondanp/android_kernel_common-5.10
          kernel-dir: common
          kernel-branch: mahiru-6-snowdrop-release
          config: gki_defconfig
          arch: arm64
          android-version: 15
          # Fixed: GCC is deprecated for Android 15. Set to false to bypass Exit 128.
          aosp-gcc: false
          aosp-clang: true
          aosp-clang-version: r522817
          ksu: true
          ksu-version: master
          ksu-other: true
          ksu-url: https://github.com/RapliVx/KernelSU
          disable-lto: false
          extra-make-args: "LLVM=1 LLVM_IAS=1 CONFIG_LOCALVERSION=✦-Missionary-Zeta CONFIG_LTO_CLANG_FULL=y CONFIG_KSU_SYSCALL_HOOK=y CONFIG_KPROBES=y CONFIG_KRETPROBES=y CONFIG_HAVE_SYSCALL_TRACEPOINTS=y CONFIG_PREEMPT=y CONFIG_PREEMPTION=y CONFIG_PREEMPT_COUNT=y CONFIG_HZ_250=y CONFIG_HZ=250 CONFIG_TCP_CONG_BBRPLUS=y CONFIG_DEFAULT_TCP_CONG=bbrplus CONFIG_ZRAM_STREAMS=y CONFIG_ZRAM_DEF_COMP_THREADS=4 CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y CONFIG_SCHED_AUTOGROUP=y CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y CONFIG_CPU_IDLE_GOV_TEO=y CONFIG_RCU_BOOST=y CONFIG_SLUB_DEBUG=n CONFIG_OPTIMIZE_INLINING=y CONFIG_VDSO=y CONFIG_DISABLE_UNUSED_SYMBOLS=y CONFIG_PANIC_TIMEOUT=0 KCFLAGS=-Wno-error CONFIG_ENERGY_MODEL=y CONFIG_CPU_IDLE_GOV_MENU=n CONFIG_ARM_PSCI_CPUIDLE=y CONFIG_TICK_ONESHOT=y CONFIG_NO_HZ_FULL=y CONFIG_SCHED_MC=y CONFIG_PM_AUTOSLEEP=y CONFIG_PM_WAKELOCKS_LIMIT=0 CONFIG_SCHED_HRTICK=y CONFIG_UCLAMP_TASK=y CONFIG_CRYPTO_LZ4=y"
          anykernel3: true
