# A simple action usage
name: Zeta ✦ kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Zeta ✦ Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://android.googlesource.com/kernel/common
          kernel-dir: common
          kernel-branch: android12-5.10
          config: gki_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          ksu: true
          ksu-other: true
          ksu-url: https://github.com/KernelSU-Next/KernelSU-Next
          ksu-version: main
          android-version: 12
          aosp-clang-version: r416183b
          disable-lto: true
          extra-cmd: |
            scripts/config --file out/.config --set-str CONFIG_LOCALVERSION "-✦Zeta-Missionary-KSUN+"
            scripts/config --file out/.config --disable CONFIG_PREEMPT_NONE
            scripts/config --file out/.config --disable CONFIG_PREEMPT_VOLUNTARY
            scripts/config --file out/.config --enable CONFIG_PREEMPT
            scripts/config --file out/.config --enable CONFIG_PREEMPTION
            scripts/config --file out/.config --enable CONFIG_RCU_BOOST
            scripts/config --file out/.config --set-val CONFIG_RCU_BOOST_DELAY 500
            scripts/config --file out/.config --set-str CONFIG_DEFAULT_CPUFREQ_GOVERNOR "schedutil"
            scripts/config --file out/.config --enable CONFIG_HZ_250
            scripts/config --file out/.config --enable CONFIG_SCHED_AUTOGROUP
            scripts/config --file out/.config --enable CONFIG_WQ_POWER_EFFICIENT_DEFAULT
            scripts/config --file out/.config --enable CONFIG_TCP_CONG_BBR
            scripts/config --file out/.config --set-str CONFIG_DEFAULT_TCP_CONG "bbr"
            scripts/config --file out/.config --set-val CONFIG_PANIC_TIMEOUT 0
            scripts/config --file out/.config --enable CONFIG_EROFS_FS_PCPU_KTHREAD
            scripts/config --file out/.config --enable CONFIG_ZRAM_STREAMS
            scripts/config --file out/.config --set-val CONFIG_ZRAM_DEF_COMP_THREADS 4
          anykernel3: true
