# A simple action usage
name: Zeta ✦ kernel
on:
  workflow_dispatch:

jobs:
  Build-Kernel:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Zeta ✦ Build
        uses: dabao1955/kernel_build_action@main
        with:
          kernel-url: https://android.googlesource.com/kernel/common
          kernel-dir: common
          kernel-branch: android12-5.10
          config: gki_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          ksu: true
          ksu-version: main
          android-version: 12
          aosp-clang-version: r416183b
          disable-lto: true
          extra-cmd: |
            scripts/config --file out/.config --set-str CONFIG_LOCALVERSION "-Zeta✦-Kernel"
            scripts/config --file out/.config --enable CONFIG_WQ_POWER_EFFICIENT_DEFAULT
            scripts/config --file out/.config --set-str CONFIG_DEFAULT_CPUFREQ_GOVERNOR "schedutil"
            scripts/config --file out/.config --enable CONFIG_HZ_250
            scripts/config --file out/.config --enable CONFIG_SCHED_AUTOGROUP
            scripts/config --file out/.config --disable CONFIG_SOFTLOCKUP_DETECTOR
            scripts/config --file out/.config --disable CONFIG_HARDLOCKUP_DETECTOR
            scripts/config --file out/.config --disable CONFIG_DETECT_HUNG_TASK
            scripts/config --file out/.config --disable CONFIG_WQ_WATCHDOG
            scripts/config --file out/.config --disable CONFIG_SCHED_DEBUG
            scripts/config --file out/.config --disable CONFIG_SCHEDSTATS
            scripts/config --file out/.config --disable CONFIG_FTRACE
            scripts/config --file out/.config --disable CONFIG_TRACING
            scripts/config --file out/.config --disable CONFIG_DEBUG_KERNEL
            scripts/config --file out/.config --disable CONFIG_SLUB_DEBUG
            scripts/config --file out/.config --disable CONFIG_PANIC_ON_OOPS
            scripts/config --file out/.config --set-val CONFIG_PANIC_TIMEOUT 0
            scripts/config --file out/.config --disable CONFIG_KPROBES
            scripts/config --file out/.config --disable CONFIG_AUDIT
            scripts/config --file out/.config --enable CONFIG_EROFS_FS_PCPU_KTHREAD
            scripts/config --file out/.config --set-val CONFIG_EROFS_FS_CLUSTER_PAGE_LIMIT 1
            scripts/config --file out/.config --enable CONFIG_ZRAM_STREAMS
            scripts/config --file out/.config --set-val CONFIG_ZRAM_DEF_COMP_THREADS 4
          anykernel3: true
